# Maximum Likelihood Estimation (최우추정법)
- 우도의 최대화 관점에서 Cost Function 정의하기
  - 우도 : 사건이 일어날 가능도라고 이해하면 됨

- y값이 0 또는 1의 값을 가지기 때문에 이산확률변수이고 베르누이 분포를 따른다.
- 우도(Likelihood) : $p^y(1-p)^{1-y}$
  - 어떤 사건이 일어날 확률과 일어나지 않을 확률의 곱
  - 여기서 확률은 sigmoid function의 결과값.

- 우도방정식 $L(\theta)$를 최대화하는 $\theta$를 찾는 과정.
- 근데 여기서 계산의 편의를 위해 우도에 $log$를 붙여 $L(\theta)$을 정의하게 되고 그 값이 최대하 되는 $\theta$를 구함

- $L(\theta)$ = $\displaystyle\sum_{i=1}^{m}{-\log(1+e^{x_i\theta})} + \displaystyle\sum_{i=1}^{m}y_ix_i\theta$
- 이는 $J(\theta)$와 거의 같음.
- $J(\theta) = -\frac{1}{m}\displaystyle\sum_{i=1}^{m}{[y_i\theta{x}^{(i)} - \log(1+e^{\theta{x}^{(i)}})]}$

- Partial derivation of MLE : $\frac{\partial}{\partial\theta_j}J(\theta) = \frac{1}{m}\displaystyle\sum_{i=1}^{m}{(h_\theta(x^i) - y^i)x_j^i}$
  - Partial derivation of Cost function 과 같음

---

# LGR for scikit-learn

In [2]:
import pandas as pd

In [3]:
data_url = "./uva.txt"
df = pd.read_csv(data_url, sep='\t')

In [4]:
df.head()

,who,Newbie,Age,Gender,Household Income,Sexual Preference,Country,Education Attainment,Major Occupation,Marital Status,Years on Internet
0,id74364,0,54.0,Male,$50-74,Gay male,Ontario,Some College,Computer,Other,4-6 yr
1,id84505,0,39.0,Female,Over $100,Heterosexual,Sweden,Professional,Other,Other,1-3 yr
2,id84509,1,49.0,Female,$40-49,Heterosexual,Washington,Some College,Management,Other,Under 6 mo
3,id87028,1,22.0,Female,$40-49,Heterosexual,Florida,Some College,Computer,Married,6-12 mo
4,id76087,0,20.0,Male,$30-39,Bisexual,New Jersey,Some College,Education,Single,1-3 yr

In [6]:
df.pop('who')
df.pop('Country')
df.pop('Years on Internet')

df.dtypes

Newbie                    int64
Age                     float64
Gender                   object
Household Income         object
Sexual Preference        object
Education Attainment     object
Major Occupation         object
Marital Status           object
dtype: object

In [7]:
for col in ['Gender','Household Income', 'Sexual Preference', 'Education Attainment', 'Major Occupation', 'Martial Status']:
  df[col] = df[col].astype('category')

df.dtypes

KeyError: 'Majog Occupation'