In [3]:
import numpy as np
import pandas as pd
import os

In [4]:
DATA_DIR = "./data"

In [51]:
df_train = pd.read_csv(os.path.join(DATA_DIR, "train.csv"), index_col="id")
df_test = pd.read_csv(os.path.join(DATA_DIR, "test.csv"), index_col="id")

In [52]:
df_train.head()

                                              reviews  target
id
0                                      조아요 처음구입 싸게햇어요       2
1   생각보다 잘 안돼요 매지 바른지 하루밖에 안됐는데ㅠㅠ 25천원가량 주고 사기 너무 ...       1
2   디자인은괜찮은데 상품이 금이가서 교환했는데 두번째받은상품도 까져있고 안쪽에 금이가져...       2
3   기전에 이 제품말고 이마트 트레이더스에서만 팔던 프리미엄 제품을 사용했었습니다. 샘...       2
4                                   튼튼하고 손목을 잘 받쳐주네요~       5

In [46]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25000 entries, 0 to 24999
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   reviews  25000 non-null  object
 1   target   25000 non-null  int64
dtypes: int64(1), object(1)
memory usage: 1.1+ MB

In [58]:
print("------train data------")
print(f"target 1 : {(df_train['target'] == 1).sum()} / {round((df_train['target'] == 1).sum() / 25000 * 100)}%")
print(f"target 2 : {(df_train['target'] == 2).sum()} / {round((df_train['target'] == 2).sum() / 25000 * 100)}%")
print(f"target 4 : {(df_train['target'] == 4).sum()} / {round((df_train['target'] == 4).sum() / 25000 * 100)}%")
print(f"target 5 : {(df_train['target'] == 5).sum()} / {round((df_train['target'] == 5).sum() / 25000 * 100)}%")

------train data------
target 1 : 4500 / 18%
target 2 : 8000 / 32%
target 4 : 2500 / 10%
target 5 : 10000 / 40%

## 접근 방식
- target이 1,2,4,5이기 때문에 multiclass 문제로 봐야 할 것 같음.
-